<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Detail</title>
    <link rel="stylesheet" href="{% static 'css/fonts.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/news_detail/style.css'%}" type="text/css">
</head>
<body>
    <header class="header">
        <nav class="header__nav">
            <div class="nav-item header__nav-post">
                <a href="/news_list" class="nav-item__logo">
                    MyNews
                </a>
                <button class="nav-item__postbutton">
                    <a href="/news_list/create">
                        Новая запись
                    </a>
                </button>
            </div>
            <div class="nav-item header__nav-login">
                <button class="nav-item__login">
                    <a href="/news_list" class="nav-item__login-link"></a>
                </button>
            </div>
        </nav>
    </header>
    <main class="main">
        <div class="main__container">
            <h1 class="main__container-header">
                {{ news_detail.title }}
            </h1>
            <div class="about-post main__container-aboutpost">
                <div class="about-post__reactions">
                    <p class="about-post__reactions-p">
                        {{ comments_count }}
                    </p>
                </div>
                <div class="about-post__update">
                    <button class="about-post__update-btn">
                        <a href="/news_detail/{{ news_detail.id }}/update">
                            Изменить запись
                        </a>
                    </button>
                </div>
                
            </div>
            <p class="main__container-p">
                {{ news_detail.text }}
            </p>
            <div class="comments main__container-comments">
                <h1 class="comments_header">
                    Комментарии
                </h1>
                <div class="comments__block">
                    <div class="comment-form comments__block-write">
                        <form method="POST" action="/news_detail/{{ news_detail.id }}">
                            {% csrf_token %}
                            {% for field in comment_form %}
                            <div class="comment-form__label">
                                {{ field.label_tag }}
                            </div>
                            <div class="comment-form__input">
                                {{ field }}
                            </div>
                            {% endfor %}
                            <button type="submit" class="form__submit-button">
                                Отправить
                            </button>
                        </form>
                    </div>
                    <div class="comments__block-read">
                        <ul class="comments__list">
                            {% if comments %}
                            <li class="comment comments__list-comment">
                                {% for comment in comments %}
                                <div class="comment__author">
                                    {{ comment.user_name }}
                                </div>
                                <p class="comment__text">
                                    {{ comment.comment }}
                                </p>
                                {% endfor %}
                                {% else %}
                                    Комментариев нет
                            </li>
                            {% endif%}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>