body {
    margin: 0;
    height: 100%;
    font-family: "Graphic", sans-serif;
    background-color: #eeeeee;
}

a {
    text-decoration: none;
    color: rgb(68, 65, 65)
}

ul, li, p {
    margin: 0;
    padding: 0;
    list-style-type: none; 
}

button {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Header */
.header {
    background-color: rgb(196, 226, 255);
    box-shadow: 0 0 10px 1px rgba(196, 226, 255, 1);
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-post {
    margin: 15px 0px 15px 35px;
    display: flex;
    align-items: center;
}

.nav-item__logo {
    padding-left: 30px;

    background: url('../../img/news_detail/arrow_to_main.svg') no-repeat left 3px;
    /* background-size: 28px; */
    
    font-family: "Graphic", sans-serif;
    font-size: 26px;
    font-weight: 600;
}

.nav-item__postbutton {
    margin-left: 20px;
    padding: 10px 20px;

    font-weight: 600;

    border: 0.5px solid rgb(161, 161, 161);
    border-radius: 6px;
    background-color: white;
}

.nav-item__postbutton:active {
    background-color:#eeeeee;
    box-shadow: 0 0 3px 1px rgb(90, 182, 235);
}

.nav-item__login {
    margin-right: 35px;
    height: 30px;
    width: 30px;
    position: relative;
    background: url("../../img/news_list/login_logo.svg") no-repeat;
    background-size: 100%;
}

.nav-item__login-link {
    position: absolute;  
    top: 0;  
    left: 0;  
    display: block;  
    width: 100%;  
    height: 100%;  
    text-decoration: none;  
    z-index: 1; 
}

/* Main */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__container {
    margin-top: 60px;
    max-width: 800px;
}

.post-details {
    display: flex;
    align-items: center;
}

.post-details__category {
    display: flex;
    align-items: center;
}

.post-details__category-img {
    height: 30px;
    width: 30px;
}

.post-details__category-p {
    margin-left: 10px;

    color: rgb(90, 88, 88);
    font-size: 18px;
    font-weight: 600;
}

.post-details__author {
    margin-left: 30px;

    color: rgb(90, 88, 88);
    font-size: 18px;
    font-weight: 400;
}

.post-details__date {
    margin-left: 30px;

    color: rgb(90, 88, 88);
    font-size: 16px;
    font-weight: 400;
}

.main__container-header {
    max-width: 750px;
    color: rgb(90, 88, 88);
    font-size: 26px;
}

.main__container-aboutpost {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-post__reactions {
    display: flex;
}

.reactions__comments {
    background: url("../../img/news_detail/comments_count.svg") left 1px no-repeat;
}

.reactions__comments-p {
    padding-left: 25px;
}

.reactions__views {
    margin-left: 20px;
    background: url("../../img/news_detail/views_count.svg") left 1px no-repeat;
    background-size: 20px 20px;
}

.reactions__views-p {
    padding-left: 25px;
}

.about-post__update {
    margin-right: 50px;
}

.about-post__update-btn {
    padding: 7px 10px;

    background-color: white;
    border-radius: 6px;
    box-shadow: 0 0 3px 1px rgba(90, 88, 88, 0.158);
}

.about-post__update-btn:active {
    box-shadow: none;
    transform: translateY(1px);
}

.main__container-p {
    margin-top: 20px;

    font-weight: 300;
    line-height: 1.5;
    font-size: 18px;
}

.main__container-comments {
    margin-top: 30px;
}

/* Comment */
.comments_header {
    color: rgb(90, 88, 88);
    font-size: 26px;
}

.comment-form__label {
    margin-bottom: 5px;

    color: rgb(90, 88, 88);
    font-size: 18px;
}

input, textarea {
    margin-bottom: 20px;
    
    width: 800px;
    min-height: 20px;

    border: 1px solid rgb(161, 161, 161);
    border-radius: 4px;
}

.form__submit-button {
    margin-top: 20px;
    padding: 10px 20px;
    
    background-color: rgb(196, 226, 255);
    border: 1px solid rgba(196, 226, 255, 1);
    border-radius: 5px;

    font-weight: 500;
}

.form__submit-button:active {
    box-shadow: 0 0 3px 1px rgba(196, 226, 255, 1);
}

.comments__list {
    display: block;
    margin-top: 30px;
    padding: 10px 30px 15px 0px;
}

.comment__author {
    margin-bottom: 5px;
    padding-left: 30px;
    height: 30px;
    background: url("../../img/news_detail/comments_author.svg") no-repeat left;

    line-height: 1.2;
    font-size: 18px;
    font-weight: 300;
    color: rgb(90, 88, 88);
}

.comment__text {
    margin-bottom: 25px;
}