.main__report {
    margin: 40px 80px;
}

.item__table-caption {
    margin-bottom: 20px;

    font-size: 18px;
    font-weight: bold;
    line-height: 120%;
    color: rgb(68, 65, 65);
}

.item__table-cols th {
    padding-right: 50px;
    padding-bottom: 6px;
}

.item__table-rows td {
    padding-bottom: 18px;
    padding-right: 40px;
}

.main__form {
    margin-left: 80px;
    display: flex;
}

.form__input {
    display: flex;
    flex-direction: column;
}

.form__input-field {
    margin-right: 12px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.form__submit {
    padding: 10px;
    max-width: 100px;

    background: rgba(37, 220, 223, 0.74);
    box-shadow: 0 1px 5px rgb(159, 197, 197);
    border: 0 none;
    cursor: pointer;
    border-radius: 5px;
}

.form__submit:hover {
    color: rgb(198, 255, 255);
}

.form__submit:active {
    box-shadow: none;
}