{% extends '../header/header.html' %}
{% load static %}
{% block style %}
{% endblock %}
{% block title %}
<title>Sign Up</title>
{% endblock %}
</head>
{% block main %}
<main class="main">
    <div class="main__container container">
        <h2 class="container__header">
            Sign Up
        </h2>
        <form method="post" class="container__form">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="container__form-btn">
                <button type="submit" class="form-btn">
                    Sign Up
                </button>
            </div>
        </form>
    </div>
</main>
{% endblock %}