<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Look for all properties</title>
</head>
<body>
    <ul>
        {% for object in properties %}
        <li>
            {{ object }}
            {{ object.description }}
            {{ object.type }}
            {{ object.price }}
            {% for param in object.parameter.all %}
            {{ param }}
            {% endfor %}
        </li>
        {% endfor %}
    </ul>
</body>
</html>