<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create News</title>
    <link rel="stylesheet" href="{% static 'css/fonts.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/create_news_item/style.css'%}" type="text/css">
</head>
<body>
    <header class="header">
        <nav class="header__nav">
            <div class="nav-item header__nav-post">
                <a href="/news_list" class="nav-item__logo">
                    MyNews
                </a>
                <button class="nav-item__postbutton">
                    <a href="/news_list/create">
                        Новая запись
                    </a>
                </button>
            </div>
            <div class="nav-item header__nav-login">
                {% if request.user.is_authenticated %}
                <button class="nav-item__login logout">
                    <a href="/logout" class="nav-item__login-link"></a>
                </button>
                {% else %}
                <button class="nav-item__login">
                    <a href="/login" class="nav-item__login-link"></a>
                </button>
                {% endif %}
            </div>
        </nav>
    </header>
    <main class="main">
        <h1 class="main__header">
            Создайте Вашу новую запись
        </h1>
        <form method="POST" action="" class="form main__form">
            {% csrf_token %}
            {% for field in news_item %}
            <div class="form__label">
                {{ field.label_tag }}
            </div>
            <div class="form__input">
                {{ field }}
            </div>
            {% endfor %}
            <button type="submit" class="form__submit-button">
                Отправить
            </button>
        </form>
    </main>
</body>
</html>