<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li>
            Заголовок: {{ advertisement_detail.title }}
        </li>
        <li>
            Цена: {{ advertisement_detail.price }} ({{ price_in_usd }} $)
        </li>
        <li>
            Описание: {{ advertisement_detail.description }}
        </li>
        <li>
            Рубрика: {{ advertisement_detail.category }}
        </li>
        <li>
            Тип объявления: {{ advertisement_detail.type }}
        </li>
        <li>
            Контактная информация: {{ advertisement_detail.author }} (email: {{ advertisement_detail.author.email }}, тел.: {{ advertisement_detail.author.phone }})
        </li>
        <li>
            Количество просмотров: {{ advertisement_detail.views_count }}
        </li>
    </ul>
</body>
</html>