<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <link rel="stylesheet" href="{% static 'css/fonts.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/news_list/style.css'%}" type="text/css">
</head>
<body>
    <header class="header">
        <nav class="header__nav">
            <div class="nav-item header__nav-post">
                <a href="/" class="nav-item__logo">
                    MyNews
                </a>
                <button class="nav-item__postbutton">
                    <a href="/news_list/create">
                        Новая запись
                    </a>
                </button>
            </div>
            <div class="nav-item header__nav-login">
                {% if request.user.is_authenticated %}
                <button class="nav-item__login logout">
                    <a href="{% url 'logout' %}" class="nav-item__login-link"></a>
                </button>
                {% else %}
                <button class="nav-item__login">
                    <a href="{% url 'login' %}" class="nav-item__login-link"></a>
                </button>
                {% endif %}
            </div>
        </nav>
    </header>
    <main class="main">
        <h1 class="main__header">
            <a href="/news_list">
                Лента новостей
            </a>
        </h1>
        {% comment %} <form method="POST" action="" class="main__cates-list">
            {% csrf_token %}
            {% for category in categories %}
            <div class="main__cates-list-cates">
                <input type="checkbox" name="{{ category }}_choice" value="{{ category }}">
                {{ category }}
            </div>
            {% endfor %}
            <input type="date" name="date_choice" placeholder="Дата" class="main__cates-list-date">
            <button type="submit" class="main__cates-list-button">
                Фильтр
            </button>
        </form> {% endcomment %}
        <ul class="main__cates-list">
            {% for category in categories %}
            <li class="main__cates-list-cates">
                <a href="/news_list/?category={{category}}">
                    {{ category }}
                </a>
            </li>
            {% endfor %}
        </ul>

        {% if news_list %}
        <ul class="main__news-list">
            {% for item in news_list %}
            <li class="item main__news-list-item">
                <a href="/news_detail/{{item.id}}">
                    <div class="item__params">
                        <!-- 
                            рубрика
                            автор
                            дата создания
                        -->
                        {% if is_moderator is True %}
                            Новость опубликована: {{ item.is_active }}
                        {% endif %}
                    </div>
                    <h3 class="item__header">
                        {{ item.title }}
                    </h3>
                    <p class="item__text">
                        {{ item.text|truncatechars:180 }}
                    </p>
                    <div class="item__action">
                        <!-- 
                            лайк 
                            комментарий
                        -->
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>
            Новостей нет
        </p>
        {% endif%}
    </main>
</body>
</html>