<!DOCTYPE html>
{% load i18n %}
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Document{% endblock %}</title>
    {% block style %}
    <link rel="stylesheet" href="{% static 'css/header/style.css'%}" type="text/css">
    {% endblock %}
</head>
<body>
    <header class="header">
        <nav class="header__nav">
            <div class="nav-item header__nav-post">
                <a href="/feeds/list/" class="nav-item__logo">
                    Myfeeds
                </a>
                {% if request.user.is_authenticated %}
                <button class="nav-item__postbutton">
                    <a href="/feeds/create">
                        Новая запись
                    </a>
                </button>
                <button class="nav-item__postbutton">
                <a href="/users/profile/{{request.user.id}}">
                    Личный кабинет
                </a>
            </button>
                {% endif %}
            </div>
            <div class="nav-item header__nav-login">
                <div class="nav-item__languages form">
                    <form action="{% url 'set_language' %}" method="post" class="form__languages">
                        {% csrf_token %}
                        <input name="next" type="hidden" value="{{ redirect_to }}" class="form__languages-elem">
                        <select name="language" class="form__languages-elem">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                {{ language.name_local }}
                                {{ language.code }}
                            </option>
                            {% endfor %}
                        </select>
                        <input type="submit" value="Go" class="form__languages-elem">
                    </form>
                </div>
                {% if request.user.is_authenticated %}
                <button class="nav-item__login logout">
                    <a href="/users/logout" class="nav-item__login-link"></a>
                </button>
                {% else %}
                <button class="nav-item__login">
                    <a href="/users/login" class="nav-item__login-link"></a>
                </button>
                {% endif %}
            </div>
        </nav>
    </header>
    {% block main %}
    {% endblock %}
</body>
</html>