<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
</head>
<body>
    <h1>
        Главная страница
    </h1>
    {% if request.user.is_authenticated %}
    <h3>
        Добро пожаловать, {{ request.user.first_name }}!
    </h3>
    <a href="{% url 'news_list' %}">
        К новостям
    </a>
    {% else %}
    <h3>
        Вы не авторизованы на сайте.
    </h3>
    <p>
        <a href="{% url 'login' %}">Войти</a>
    </p>
    <p>
        <a href="{% url 'register' %}">Зарегистрироваться</a>
    </p>
    {% endif %}
</body>
</html>