{% extends '../header.html' %}
{% load static %}

<title>{% block title %}Log Out{% endblock %}</title>
{% block style %}
<link rel="stylesheet" href="{% static 'css/header/style.css'%}" type="text/css">
<link rel="stylesheet" href="{% static 'css/users/logout/style.css'%}" type="text/css">
{% endblock %}

{% block main %}
<main class="main">
    <h2 class="main_header">
        Log Out
    </h2>
    <p>
        Вы успешно вышли из под своей учетной записи
    </p>
    <div class="main__to-feeds">
        <a href="/feeds/list">
            К новостям
        </a>
    </div>
</main>
{% endblock %}