{% extends '../header.html' %}
{% load static %}

<title>{% block title %}Your profile{% endblock %}</title>
{% block style %}
<link rel="stylesheet" href="{% static 'css/header/style.css'%}" type="text/css">
<link rel="stylesheet" href="{% static 'css/users/profile/style.css'%}" type="text/css">
{% endblock %}

{% block main %}
<main class="main">
    <h1>
        Информация профиля {{ init_profile.username }}
    </h1>
    <div class="main__change-profile">
        <a href="/users/profile/{{ init_profile.id }}/edit">
            Изменить данные профиля
        </a>
    </div>
    <div class="main__description">
        <ul class="main__list">
            <li class="main__list-item">
                Имя: {{ init_profile.first_name }}
            </li>
            <li class="main__list-item">
                Фамилия: {{ init_profile.last_name }}
            </li>
            <li class="main__list-item">
                О себе: {{ profile.about_me }}
            </li>
        </ul>
    </div>
    <a href="/" class="main__btn">
        На главную
    </a>
</main>
{% endblock %}