<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advertisements</title>
    <link rel="stylesheet" href="{% static 'css/fonts.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/advertisement_detail/style.css'%}" type="text/css">
</head>
<body>
    <div class="container">
        <div class="main container__main">
            <a href="../" class="main__backward_ref">
                Назад
            </a>
            <h1 class="main__header">
                <a href="https://skillbox.ru/course/profession-data-scientist/">
                    Профессия Data Scientist
                </a>
            </h1>
            <div class="main__price">
                <p class="main__price-p">
                    12 000 руб.
                </p>
            </div>
        </div>
        <img src="{% static 'img/advertisement_detail_01/ds.webp'%}" alt="DS cource image" class="container__img">
    </div>

</body>
</html>