<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advertisements</title>
    <link rel="stylesheet" href="{% static 'css/fonts.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/advertisement_list/style.css'%}" type="text/css">
</head>
<body>
    <header class="container">
        <h1 class="container__header">
            Прошел все курсы на SkillBox
        </h1>
        <p class="container__p"> 
            Продаю готовые домашние задания
        </p>
        <nav class="nav-list">
            <a class="nav-list__item" href="advertisement_01">
                Data Scientist
            </a>
            <a class="nav-list__item" href="advertisement_02">
                Python-разработчик
            </a>
            <a class="nav-list__item" href="advertisement_03">
                Менеджер проектов
            </a>
            <a class="nav-list__item" href="advertisement_04">
                Интернет-маркетолог
            </a>
            <a class="nav-list__item" href="advertisement_05">
                Графический дизайнер
            </a>
        </nav>
    </header>
</body>
</html>