<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>
        Ваш аккаунт
    </h2>=
    <form method="POST" action="/profile/{{ pk }}/">
        {% csrf_token %}
        <p>
            Логин пользователя: {{ username }}
        </p>
        <p>
            {{ profile.phone.label_tag }} {{ profile.phone }}
        </p>
        <p>
            {{ profile.city.label_tag }} {{ profile.city }}
        </p>
        {% if is_moderator is True %}
        <p>
            {{ profile.is_verified.label_tag }} {{ profile.is_verified }}
        </p>
        <p>
            {{ profile.is_moderator.label_tag }} {{ profile.is_moderator }}
        </p>
        {% endif %}
        <button type="submit">
            Отправить
        </button>
    </form>
</body>
</html>